#MCAR Imputation

In [ ]:

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/yuvraj-daiict/exploratory-data-analysis/refs/heads/main/credit_train.csv')
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  float64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  float64
 14  Number of Credit Problems     100000 non-null  float64
 15  Current Credit Balance        100000 non-null  float64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

In [ ]:
df.describe()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
count,1.000000e+05,80846.000000,8.084600e+04,100000.000000,100000.000000,46859.000000,100000.00000,100000.000000,1.000000e+05,9.999800e+04,99796.000000,99990.000000
mean,1.176045e+07,1076.456089,1.378277e+06,18472.412336,18.199141,34.901321,11.12853,0.168310,2.946374e+05,7.607984e+05,0.117740,0.029313
std,3.178394e+07,1475.403791,1.081360e+06,12174.992609,7.015324,21.997829,5.00987,0.482705,3.761709e+05,8.384503e+06,0.351424,0.258182
min,1.080200e+04,585.000000,7.662700e+04,0.000000,3.600000,0.000000,0.00000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.796520e+05,705.000000,8.488440e+05,10214.162500,13.500000,16.000000,8.00000,0.000000,1.126700e+05,2.734380e+05,0.000000,0.000000
50%,3.122460e+05,724.000000,1.174162e+06,16220.300000,16.900000,32.000000,10.00000,0.000000,2.098170e+05,4.678740e+05,0.000000,0.000000
75%,5.249420e+05,741.000000,1.650663e+06,24012.057500,21.700000,51.000000,14.00000,0.000000,3.679588e+05,7.829580e+05,0.000000,0.000000
max,1.000000e+08,7510.000000,1.655574e+08,435843.280000,70.500000,176.000000,76.00000,15.000000,3.287897e+07,1.539738e+09,7.000000,15.000000

In [ ]:
#checking for missing values
df.isnull().sum()

Loan ID                           514
Customer ID                       514
Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [ ]:
df.dtypes

Loan ID                          object
Customer ID                      object
Loan Status                      object
Current Loan Amount             float64
Term                             object
Credit Score                    float64
Annual Income                   float64
Years in current job             object
Home Ownership                   object
Purpose                          object
Monthly Debt                    float64
Years of Credit History         float64
Months since last delinquent    float64
Number of Open Accounts         float64
Number of Credit Problems       float64
Current Credit Balance          float64
Maximum Open Credit             float64
Bankruptcies                    float64
Tax Liens                       float64
dtype: object

In [ ]:
import numpy as np
#selecting numeric columns for missing data analysis
df_numeric = df.select_dtypes(include=np.number)
df_numeric

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,445412.0,709.0,1167493.0,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,262328.0,NaN,NaN,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,99999999.0,741.0,2231892.0,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,347666.0,721.0,806949.0,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,176220.0,NaN,NaN,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
100509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Little's MCAR test

In [ ]:
#dropping columns with more than half of values missing
rate_of_null = df_numeric.isnull().mean()
print(rate_of_null)
df_filtered = df_numeric.loc[:, rate_of_null < 0.5]
df_filtered

Current Loan Amount             0.005114
Credit Score                    0.195674
Annual Income                   0.195674
Monthly Debt                    0.005114
Years of Credit History         0.005114
Months since last delinquent    0.533806
Number of Open Accounts         0.005114
Number of Credit Problems       0.005114
Current Credit Balance          0.005114
Maximum Open Credit             0.005134
Bankruptcies                    0.007143
Tax Liens                       0.005213
dtype: float64

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,445412.0,709.0,1167493.0,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,262328.0,NaN,NaN,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0.0
2,99999999.0,741.0,2231892.0,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,347666.0,721.0,806949.0,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,176220.0,NaN,NaN,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
100509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#This leads to the dropping of months since last delinquet column

In [ ]:
#Check if any numeric data is left to process else raise error
if df_filtered.empty:
    raise Exception("No numeric data left to process for Little's test which is less than 50%")

In [ ]:
from scipy import stats

#function for a simplified MCAR test using chi-squares
def simple_chi_square_test(df):
  #convert to numpy
  data = df.to_numpy()

  missing_values = np.isnan(data)

  #return if no value to operate
  if not np.any(missing_values):
    print("No missing value found to operate, hence MCAR by definition")
    return

  # Calculate missing data pattern
  missing_patterns = np.sum(missing_values, axis=1)

  # Calculate statistics for determining missing data pattern
  unique_patterns, counts = np.unique(missing_patterns, return_counts=True)
  pattern_probabilities = counts / len(missing_patterns)

  # Perform chi-square test to check the pattern of the distribution
  chi2_stat, p_value = stats.chisquare(pattern_probabilities)

  print("~~~MCAR Test~~~")
  print(f"Chi-square statistic: {chi2_stat:.4f}")
  print(f"P-value: {p_value:.4f}")

  if p_value > 0.05:
      print("The null hypothesis cannot be rejected. The data is MCAR.")
  else:
      print("The null hypothesis is rejected. The data is not MCAR.")

In [ ]:
# Using the test on the filtered deteset
simple_chi_square_test(df_filtered)

~~~MCAR Test~~~
Chi-square statistic: 3.0832
P-value: 0.6872
The null hypothesis cannot be rejected. The data is MCAR.

#**Imputation using mean, median and mode**

In [ ]:
# Select only numeric columns for imputation
numeric_df = df.select_dtypes(include=np.number)
numeric_df

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,445412.0,709.0,1167493.0,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,262328.0,NaN,NaN,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,99999999.0,741.0,2231892.0,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,347666.0,721.0,806949.0,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,176220.0,NaN,NaN,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
100509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Check for missing values
missing_values = numeric_df.isnull().sum()
print(missing_values)

Current Loan Amount               514
Credit Score                    19668
Annual Income                   19668
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [ ]:
#performing mean imputation
mean_imputed_data = numeric_df.fillna(numeric_df.mean())
print(mean_imputed_data.head())
print(mean_imputed_data.isnull().sum())

   Current Loan Amount  Credit Score  Annual Income  Monthly Debt  \
0             445412.0    709.000000   1.167493e+06       5214.74
1             262328.0   1076.456089   1.378277e+06      33295.98
2           99999999.0    741.000000   2.231892e+06      29200.53
3             347666.0    721.000000   8.069490e+05       8741.90
4             176220.0   1076.456089   1.378277e+06      20639.70

   Years of Credit History  Months since last delinquent  \
0                     17.2                     34.901321
1                     21.1                      8.000000
2                     14.9                     29.000000
3                     12.0                     34.901321
4                      6.1                     34.901321

   Number of Open Accounts  Number of Credit Problems  Current Credit Balance  \
0                      6.0                        1.0                228190.0
1                     35.0                        0.0                229976.0
2                     18.0                        1.0                297996.0
3                      9.0                        0.0                256329.0
4                     15.0                        0.0                253460.0

   Maximum Open Credit  Bankruptcies  Tax Liens
0             416746.0           1.0        0.0
1             850784.0           0.0        0.0
2             750090.0           0.0        0.0
3             386958.0           0.0        0.0
4             427174.0           0.0        0.0
Current Loan Amount             0
Credit Score                    0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [ ]:
#performing median imputation
median_imputed_data = numeric_df.fillna(numeric_df.median())
print(median_imputed_data.head())
print(median_imputed_data.isnull().sum())

   Current Loan Amount  Credit Score  Annual Income  Monthly Debt  \
0             445412.0         709.0      1167493.0       5214.74
1             262328.0         724.0      1174162.0      33295.98
2           99999999.0         741.0      2231892.0      29200.53
3             347666.0         721.0       806949.0       8741.90
4             176220.0         724.0      1174162.0      20639.70

   Years of Credit History  Months since last delinquent  \
0                     17.2                          32.0
1                     21.1                           8.0
2                     14.9                          29.0
3                     12.0                          32.0
4                      6.1                          32.0

   Number of Open Accounts  Number of Credit Problems  Current Credit Balance  \
0                      6.0                        1.0                228190.0
1                     35.0                        0.0                229976.0
2                     18.0                        1.0                297996.0
3                      9.0                        0.0                256329.0
4                     15.0                        0.0                253460.0

   Maximum Open Credit  Bankruptcies  Tax Liens
0             416746.0           1.0        0.0
1             850784.0           0.0        0.0
2             750090.0           0.0        0.0
3             386958.0           0.0        0.0
4             427174.0           0.0        0.0
Current Loan Amount             0
Credit Score                    0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [ ]:
#performing mode imputation
mode_imputed_data = numeric_df.fillna(numeric_df.mode().iloc[0])
print(mode_imputed_data.head())
print(mode_imputed_data.isnull().sum())

   Current Loan Amount  Credit Score  Annual Income  Monthly Debt  \
0             445412.0         709.0      1167493.0       5214.74
1             262328.0         747.0      1162572.0      33295.98
2           99999999.0         741.0      2231892.0      29200.53
3             347666.0         721.0       806949.0       8741.90
4             176220.0         747.0      1162572.0      20639.70

   Years of Credit History  Months since last delinquent  \
0                     17.2                          13.0
1                     21.1                           8.0
2                     14.9                          29.0
3                     12.0                          13.0
4                      6.1                          13.0

   Number of Open Accounts  Number of Credit Problems  Current Credit Balance  \
0                      6.0                        1.0                228190.0
1                     35.0                        0.0                229976.0
2                     18.0                        1.0                297996.0
3                      9.0                        0.0                256329.0
4                     15.0                        0.0                253460.0

   Maximum Open Credit  Bankruptcies  Tax Liens
0             416746.0           1.0        0.0
1             850784.0           0.0        0.0
2             750090.0           0.0        0.0
3             386958.0           0.0        0.0
4             427174.0           0.0        0.0
Current Loan Amount             0
Credit Score                    0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

#**Imputation using KNN and iterative-imputation**

In [ ]:
# !pip uninstall scikit-learn -y
# !pip cache purge
# !pip install scikit-learn==1.0.2
# !pip install --upgrade scikit-learn
# !pip install fancyimpute

In [ ]:
from fancyimpute import KNN, IterativeImputer

In [ ]:
#perform KNN imputation from fancyimpute
numeric_columns = numeric_df.select_dtypes(include=['number']).columns

knn_imputer = KNN(k=5)  # Setting the number of neighbors as needed

#Here we are only taking the first 1000 rows for KNN imputation as it is very heavy
#for running on such a large data set
df[numeric_columns][:1000]  = knn_imputer.fit_transform(df[numeric_columns][:1000])

Imputing row 1/1000 with 1 missing, elapsed time: 0.310
Imputing row 101/1000 with 0 missing, elapsed time: 0.317
Imputing row 201/1000 with 1 missing, elapsed time: 0.322
Imputing row 301/1000 with 2 missing, elapsed time: 0.327
Imputing row 401/1000 with 3 missing, elapsed time: 0.333
Imputing row 501/1000 with 3 missing, elapsed time: 0.338
Imputing row 601/1000 with 3 missing, elapsed time: 0.348
Imputing row 701/1000 with 0 missing, elapsed time: 0.355
Imputing row 801/1000 with 1 missing, elapsed time: 0.359
Imputing row 901/1000 with 3 missing, elapsed time: 0.365

<ipython-input-48-1e76930e9bab>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numeric_columns][:1000]  = knn_imputer.fit_transform(df[numeric_columns][:1000])
<ipython-input-48-1e76930e9bab>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numeric_columns][:1000]  = knn_imputer.fit_transform(df[numeric_columns][:1000])

In [ ]:
# Check the results
print(df[numeric_columns][:1000])

     Current Loan Amount  Credit Score  Annual Income  Monthly Debt  \
0               445412.0         709.0      1167493.0       5214.74
1               262328.0           NaN            NaN      33295.98
2             99999999.0         741.0      2231892.0      29200.53
3               347666.0         721.0       806949.0       8741.90
4               176220.0           NaN            NaN      20639.70
..                   ...           ...            ...           ...
995           99999999.0         726.0       742824.0      19127.68
996             218284.0        7210.0      1319626.0      13086.44
997             387310.0         708.0      1368418.0      14368.37
998           99999999.0         733.0      1383599.0      22944.59
999             334092.0         737.0      1442670.0      16350.26

     Years of Credit History  Months since last delinquent  \
0                       17.2                           NaN
1                       21.1                           8.0
2                       14.9                          29.0
3                       12.0                           NaN
4                        6.1                           NaN
..                       ...                           ...
995                     18.9                          11.0
996                     14.6                           NaN
997                     22.9                          24.0
998                     17.0                          17.0
999                     26.5                          21.0

     Number of Open Accounts  Number of Credit Problems  \
0                        6.0                        1.0
1                       35.0                        0.0
2                       18.0                        1.0
3                        9.0                        0.0
4                       15.0                        0.0
..                       ...                        ...
995                     15.0                        0.0
996                      4.0                        0.0
997                      3.0                        0.0
998                      9.0                        0.0
999                     10.0                        0.0

     Current Credit Balance  Maximum Open Credit  Bankruptcies  Tax Liens
0                  228190.0             416746.0           1.0        0.0
1                  229976.0             850784.0           0.0        0.0
2                  297996.0             750090.0           0.0        0.0
3                  256329.0             386958.0           0.0        0.0
4                  253460.0             427174.0           0.0        0.0
..                      ...                  ...           ...        ...
995                265867.0             354662.0           0.0        0.0
996                436012.0             873444.0           0.0        0.0
997                234422.0             380688.0           0.0        0.0
998                108661.0             149072.0           0.0        0.0
999                 95950.0             178310.0           0.0        0.0

[1000 rows x 12 columns]

KNN does not work for categorical ddata so we have to encode it first

In [ ]:
# Encode categorical columns
df_encoded = pd.get_dummies(df.iloc[0:1000], drop_first=True)

# Perform imputation on the encoded DataFrame
df_knn_imputed = pd.DataFrame(KNN(k=5).fit_transform(df_encoded), columns=df_encoded.columns)

Imputing row 1/1000 with 1 missing, elapsed time: 13.152
Imputing row 101/1000 with 0 missing, elapsed time: 13.157
Imputing row 201/1000 with 1 missing, elapsed time: 13.161
Imputing row 301/1000 with 2 missing, elapsed time: 13.165
Imputing row 401/1000 with 3 missing, elapsed time: 13.169
Imputing row 501/1000 with 3 missing, elapsed time: 13.174
Imputing row 601/1000 with 3 missing, elapsed time: 13.180
Imputing row 701/1000 with 0 missing, elapsed time: 13.185
Imputing row 801/1000 with 1 missing, elapsed time: 13.190
Imputing row 901/1000 with 3 missing, elapsed time: 13.196

In [ ]:
df_knn_imputed.isnull().sum()

Current Loan Amount        0
Credit Score               0
Annual Income              0
Monthly Debt               0
Years of Credit History    0
                          ..
Purpose_major_purchase     0
Purpose_other              0
Purpose_small_business     0
Purpose_vacation           0
Purpose_wedding            0
Length: 2034, dtype: int64

Now, performing iterative imputation (missing forest)

In [ ]:
# Perform Missing Forest imputation (Iterative Imputer)
# Select numerical columns for imputation
numeric_columns = df.select_dtypes(include=['number']).columns

# Performing missing forest imputation
missing_forest_imputer = IterativeImputer()
df[numeric_columns] = missing_forest_imputer.fit_transform(df[numeric_columns])

df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.000000,1.167493e+06,8 years,Home Mortgage,Home Improvements,5214.74,17.2,42.224245,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,1124.684461,1.743246e+06,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.000000,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.000000,2.231892e+06,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.000000,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.000000,8.069490e+05,3 years,Own Home,Debt Consolidation,8741.90,12.0,36.290918,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,1133.459353,1.275050e+06,5 years,Rent,Debt Consolidation,20639.70,6.1,35.437269,15.0,0.0,253460.0,427174.0,0.0,0.0

In [ ]:
df.isnull().sum()

Loan ID                          514
Customer ID                      514
Loan Status                      514
Current Loan Amount                0
Term                             514
Credit Score                       0
Annual Income                      0
Years in current job            4736
Home Ownership                   514
Purpose                          514
Monthly Debt                       0
Years of Credit History            0
Months since last delinquent       0
Number of Open Accounts            0
Number of Credit Problems          0
Current Credit Balance             0
Maximum Open Credit                0
Bankruptcies                       0
Tax Liens                          0
dtype: int64

Similar to KNN, missing forest does not work for categorical data

In [ ]:
# Iterative Imputation
iterative_imputer = IterativeImputer()
iterative_filled = iterative_imputer.fit_transform(numeric_df)
iterative_filled_df = pd.DataFrame(iterative_filled, columns=numeric_df.columns)
iterative_filled_df

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,4.454120e+05,709.000000,1.167493e+06,5214.740000,17.200000,42.224245,6.00000,1.00000,228190.00000,416746.000000,1.000000,0.000000
1,2.623280e+05,1124.684461,1.743246e+06,33295.980000,21.100000,8.000000,35.00000,0.00000,229976.00000,850784.000000,0.000000,0.000000
2,1.000000e+08,741.000000,2.231892e+06,29200.530000,14.900000,29.000000,18.00000,1.00000,297996.00000,750090.000000,0.000000,0.000000
3,3.476660e+05,721.000000,8.069490e+05,8741.900000,12.000000,36.290918,9.00000,0.00000,256329.00000,386958.000000,0.000000,0.000000
4,1.762200e+05,1133.459353,1.275050e+06,20639.700000,6.100000,35.437269,15.00000,0.00000,253460.00000,427174.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
100509,1.176045e+07,1087.585066,1.375559e+06,18472.412336,18.199141,35.230550,11.12853,0.16831,294637.38235,760774.962948,0.117559,0.029315
100510,1.176045e+07,1087.585066,1.375559e+06,18472.412336,18.199141,35.230550,11.12853,0.16831,294637.38235,760774.962948,0.117559,0.029315
100511,1.176045e+07,1087.585066,1.375559e+06,18472.412336,18.199141,35.230550,11.12853,0.16831,294637.38235,760774.962948,0.117559,0.029315
100512,1.176045e+07,1087.585066,1.375559e+06,18472.412336,18.199141,35.230550,11.12853,0.16831,294637.38235,760774.962948,0.117559,0.029315
100513,1.176045e+07,1087.585066,1.375559e+06,18472.412336,18.199141,35.230550,11.12853,0.16831,294637.38235,760774.962948,0.117559,0.029315

In [ ]:
print(iterative_filled_df.isnull().sum())

Current Loan Amount             0
Credit Score                    0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

Now, after encoding the categorical data and then performing imputation, there are no more null values left.